# Node dependencies
/node_modules/
.yarn/install-state.gz

# Package managers
.pnp/
.pnp.js
.yarn/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage (tests)
coverage/

# Next.js build output
/.next/
/out/

# Build output (if manually built)
/build

# Vercel
.vercel

# Environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# System files
.DS_Store

# Editor specific
.vscode/
.idea/

# Misc
*.pem
*.log
*.swo
*.swp

# Hardhat
artifacts/
cache/
typechain/
typechain-types/
